/target/
/tmp
/node_modules/
/package-lock.json
/.cpcache/
/.nrepl-port
/resources/public/g[1-9].png
/resources/public/home[1-9].png
/resources/public/m2.png
/resources/public/graph1.png
/resources/public/Heating Curve of Water -Time lapse with Graph-oT-mXy0Hc08.mkv
/resources/public/Heating Curve of Water-XDkmavL4qzU.mkv
/resources/public/The Matrix Resurrections (2021) 1080p WEBRip.mp4
/resources/public/UnderstandingCarCrashesItsBasicPhysics.mp4
/resources/public/abc/
/resources/public/b.pdf
/resources/public/bd/
/resources/public/boil.mkv
/resources/public/css/fonts/Amstelvar-Roman.ttf
/resources/public/space.webm
/resources/public/m.jpg
/resources/public/ll.jpg
/resources/public/hammock.webp
/resources/public/ht.mp4
/resources/public/hammock2.jpg
/resources/public/*.mkv
/src/math2/2
/src/math2/\\
/tmp2
/resources/timeline
/resources/public/hammock3.jpg
/resources/public/heating.mp4
/resources/public/ht2.mp4
/*cider-error*
/resources/public.tar.gz
