{:paths ["src" "resources"]
 :deps {
        org.clojure/clojure       {:mvn/version "1.10.3"}
        org.clojure/clojurescript {:mvn/version "1.10.866"}

        reagent/reagent           {:mvn/version "1.1.1"}


        ring/ring-jetty-adapter {:mvn/version "1.9.4"}
        ring/ring-defaults {:mvn/version "0.3.3"}
        compojure/compojure {:mvn/version "1.6.2"}
        hiccup/hiccup {:mvn/version "2.0.0-alpha2"}


        org.clojure/spec.alpha {:mvn/version "0.3.214"}



        org.clojure/test.check {:mvn/version "1.1.1"}
        org.clojure/tools.macro {:mvn/version "0.1.2"}


        aleph {:mvn/version "0.4.6"}
        metosin/reitit {:mvn/version "0.5.15"}
        metosin/muuntaja {:mvn/version "0.6.8"}
        mount/mount {:mvn/version "0.1.16"}
        com.xtdb/xtdb-core {:mvn/version "1.19.0"}
        com.github.seancorfield/next.jdbc {:mvn/version "1.2.772"}
        org.clojure/java.jdbc  {:mvn/version "0.7.12"}
        buddy {:mvn/version "2.0.0"}
        com.layerware/hugsql {:mvn/version "0.5.1"}
        org.postgresql/postgresql {:mvn/version "42.3.3"}
        com.xtdb/xtdb-jdbc {:mvn/version "1.19.0"}
        com.github.seancorfield/honeysql {:mvn/version "2.2.868"}
        applied-science/js-interop {:mvn/version "0.3.3"}
        borkdude/sci {:mvn/version "0.2.0"}
        nextjournal.clojure-mode {:git/url "https://github.com/nextjournal/clojure-mode"
                                  :sha "a83c87cd2bd2049b70613f360336a096d15c5518"}


        com.gfredericks/test.chuck {:mvn/version "0.2.10"}
        metosin/malli {:mvn/version "0.0.1-20200920.124124-25"}
        defun {:mvn/version "0.3.1"}

        org.clojure/core.match {:mvn/version "1.0.0"}
        datascript {:mvn/version "1.1.0"}
        lambdaisland/regal {:mvn/version "0.0.89"}
        ;; optjkional but recommended
        }
 :aliases
 {:dev {:extra-paths ["dev"]
        :extra-deps {thheller/shadow-cljs {:mvn/version "2.14.5"}}}}}
